body {
    margin : 0;
    padding: 0;
}

.md_container {
    position: relative;

    display         : flex;
    flex-direction  : row;
    justify-content : space-evenly;
    flex-wrap       : wrap;
    background-color: gray;

    /* todo: */
    /* height: 92vh; */
    height             : 91vh;
    background-color   : #111;
    background-color   : #444;
    /* top: 2em; */
    /* background-color: white; */
}

.editor,
.view {
    /* display: inline-block; */
    /* margin-top: .5em; */
    /* width     : calc(50vw - 1em); */
    width : calc(50vw - 0.71em);
    /* width: calc(50vw - 1em); */
    /* width : calc(50vw - 0.6em); */
    /* width : calc(50vw - 0.8em); */
    height: 45vh;
    margin: 0;
}

.view {
    border             : 1px lightgray solid;
    /* margin-top      : .4em; */
    left               : -2px;
    position           : relative;
    background-color   : #fff;
}

.play {
    cursor          : pointer;
    position        : absolute;
    bottom          : 1em;
    right           : 2em;
    width           : 2em;
    height          : 2em;
    background-color: #dfeefb;
    clip-path       : polygon(0 0, 0 100%, 100% 50%);
    transition      : .5s;
    border-radius   : 1em;
}

.play:hover {
    border-radius      : 0;
    /* background-color: #b7d9f7;     */
    /* background-color: cadetblue; */
}

iframe {
    height: 100%;
    width : 100%;
    border: none;
}

.expanded {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100vw;
    height          : 100vh;
    z-index         : 6;
    background-color: white;
}

.expand {
    /* filter: contrast(100%); */
    position           : absolute;
    top                : 1em;
    right              : .5em;
    width              : 2em;
    height             : 2em;
    opacity            : 0.04;
    /* background-image: url(./static/expand_d.svg);     */
    background         : url(../images/expand_d.svg) no-repeat;
    background-size    : contain;
    cursor             : pointer;
    transition         : .5s;
    /* background-color: cornflowerblue; */
}

.expand.down {
    /* background: url(./static/expand_v.svg) no-repeat; */
    transform      : scale(1.1);
    background     : url(../images/collapse_d.svg) no-repeat;
    background-size: contain;
    opacity        : .1;
    right          : 1em;
}

.expand.down:hover {
    opacity  : .2;
    transform: scale(.9);
}

.expand:hover {
    transform: scale(1.1);
    opacity  : 0.15;
}

.expand::after {
    content       : attr(data-title);
    position      : absolute;
    top           : .1em;
    font-size     : small;
    right         : 0%;
    pointer-events: none;
    transition    : 1s;
    opacity       : 0;
    color         : green;
    font-family   : Arial, Helvetica, sans-serif;
}

.expand:hover::after {
    opacity: 1;
    right  : 150%;
}



.ace_tooltip {
    font-family: monospace, Arial;
    color      : #444;
    opacity    : 0.95;
    border     : none;
}

.ace_tooltip>b {
    color      : black;
    font-family: Arial;
}






/* RESIZE FEATURE */

.h_line,
.v_line {
    position: fixed;
    color   : transparent;
    border  : none;
}

.h_line {
    left    : 0;
    top     : 44.7vh;
    top     : 44vh;
    top     : 50vh;
    width   : 50%;
    /* width: 100%; */

    cursor                     : s-resize;
    /* cursor                  : row-resize;
            cursor             : n-resize; */
    height                     : .5em;
    /* background-color        : hotpink; */
}

.v_line {
    top                : 0;
    cursor             : e-resize;
    height             : 45.5vh;
    width              : 0.5em;
    /* background-color: green; */
}

.center_line {
    position           : fixed;
    /* cursor          : nwse-resize; */
    cursor             : all-scroll;
    width              : 1em;
    height             : 1em;
    /* top                : 44.7vh; */
    top                : 48vh;
    z-index            : 1;
    /* background-color: red; */
}


.dis_errors .ace_error{
    background-image: none;
}



/* ADAPTIVE: */


@media screen and (max-width: 600px) {

    .editor,
    .view {
        width        : 100%;
        margin-bottom: 1em;
    }

    .play {
        position     : fixed;
        border-radius: unset;
        opacity      : .5;
        right        : 1em;
        z-index      : 5;
    }

    .md_container {
        height: fit-content;
    }

    #jseditor {
        /* padding-bottom: 40vh; */
        margin-bottom: 38vh;
    }

    .view {
        position: fixed;
        bottom  : 0;
        top     : 60vh;
        z-index : 5;
    }

    .ace_autocomplete {
        width: 200px !important;
    }
}


/* terminal: */

.terminal{
    background     : url(/static/images/terminal.svg) no-repeat;
    
    height         : 2em;
    width          : 2em;
    background-size: cover;
    bottom         : 1em;
    right          : 1em;
    z-index        : 6;
    position       : absolute;
    cursor         : pointer;   
    opacity: .5; 
    transition: .5s;
}

.terminal:hover{
    opacity: 1;
}








/* console: */

.console{
    width : 100%;
    height: 100%;
    background-color: #ddd;
    background-color: #eee;
    /* background-color: #333; */
    position: absolute;
    z-index : 2;
}

.console input{
    position     : absolute;
    bottom       : 0.5em;
    right        : 4em;
    left         : 1em;
    padding      : 3px;
    border-radius: 1em;
    border       : 1px solid gray;
    padding      : 0.5em 1em; 
    outline: none;   
    width: calc(100% - 7.5em);

    /* font-family: 'Courier New', Courier, monospace;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.console .lines{
    height: calc(100% - 3em);
    border-bottom: 1px solid #bbb;    
    overflow-y: auto;
}

.console .lines>div{
    padding      : 0.5em 0.5em;
    border-bottom: 1px solid #ccc;
    color        : #555;    
}

.console .lines>div .input{
    color      : #999;
    font-family: monospace;
    margin-bottom: 0.5em;
}

.console .send{
    --arrow-height: .5em;
    --arrow-color: gray;

    position     : absolute;
    bottom: 2.5em;
    right: 3em;
    cursor: pointer;
    opacity: .5;    
}

.console .send:hover{
    opacity: 1;
}

.console .send::before, 
.console .send::after{
    border-right : 2em solid transparent;
    content      : '';
    position     : absolute;  
    left: 0;
}

.console .send::before{
    border-bottom: var(--arrow-height) solid var(--arrow-color);
    top     : .5em;    
}

.console .send::after {
    border-top: var(--arrow-height) solid var(--arrow-color);
    top: 1.1em;
}

.hidden{
    display: none;
}


/* settings: */

.console .close{
    --size: 1.8em;
    width           : var(--size);
    height          : var(--size);
    transform       : rotate(45deg);
    position        : absolute;
    top             : 0.5em;
    right           : 0.7em;
    border-radius   : 1em;
    background-color: #ccc;
    text-align      : center;
    line-height     : var(--size);
    font-weight     : 700;
    color           : aliceblue;
    box-shadow      : 0 0 15px aliceblue;
    cursor: pointer;
}



.settings {
    position       : absolute;
    top            : .5em;
    right          : .5em;
    width          : 1.5em;
    height         : 1.5em;
    opacity        : .3;
    cursor         : pointer;    
    background-size: contain !important;
    transition     : .5s;
    z-index        : 5;
}

.settings:hover {
    opacity: .6;
}

.settings ul {
    font-family   : 'Courier New', Courier, monospace;
    position: absolute;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}



@media screen and (max-width: 600px) {
    
    .terminal{
        z-index: 1;
        right: 1.5em;
    }


    .console{
        position: fixed;
        /* height  : 60.1%; */
        height  : 100%;
        top     : 0;
        width   : 100.2%;
    }

    .settings {
        right: .8em;
    }    

    /* .console input {
        bottom: 4em;
    }
    .console .send{
        bottom: 5.4em;
    }
    .console .lines{
        height: calc(100% - 6em);
    } */
}


/* context-menu: */

.context_menu{
    position: fixed;
    background-color: azure;    
    min-width       : 7em;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    opacity: 0.9;
}
.context_menu>div{
    cursor: pointer;
    padding : 3px 1em;
}

.context_menu>div:hover{
    background-color: #ccc;
}


