body {
    margin : 0;
    padding: 0;
}

.md_container {
    position: relative;

    display         : flex;
    flex-direction  : row;
    justify-content : space-evenly;
    flex-wrap       : wrap;
    background-color: gray;

    /* todo: */
    /* height: 92vh; */
    height             : 91vh;
    background-color   : #111;
    background-color   : #444;
    /* background-color: white; */
}

.editor,
.view {
    /* display: inline-block; */
    /* margin-top: .5em; */
    /* width     : calc(50vw - 1em); */
    /* width : calc(50vw - 0.71em); */
    /* width : calc(50vw - 0.6em); */
    width : calc(50vw - 0.8em);
    height: 45vh;
    margin: 0;
}

.view {
    border             : 1px lightgray solid;
    /* margin-top      : .4em; */
    left               : -2px;
    position           : relative;
    background-color   : #fff;
}

.play {
    cursor          : pointer;
    position        : absolute;
    bottom          : 1em;
    right           : 2em;
    width           : 2em;
    height          : 2em;
    background-color: #dfeefb;
    clip-path       : polygon(0 0, 0 100%, 100% 50%);
    transition      : .5s;
    border-radius   : 1em;
}

.play:hover {
    border-radius      : 0;
    /* background-color: #b7d9f7;     */
    /* background-color: cadetblue; */
}

iframe {
    height: 100%;
    width : 100%;
    border: none;
}

.expanded {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100vw;
    height          : 100vh;
    z-index         : 6;
    background-color: white;
}

.expand {
    /* filter: contrast(100%); */
    position           : absolute;
    top                : 1em;
    right              : .5em;
    width              : 2em;
    height             : 2em;
    opacity            : 0.04;
    /* background-image: url(./static/expand_d.svg);     */
    background         : url(../images/expand_d.svg) no-repeat;
    background-size    : contain;
    cursor             : pointer;
    transition         : .5s;
    /* background-color: cornflowerblue; */
}

.expand.down {
    /* background: url(./static/expand_v.svg) no-repeat; */
    transform      : scale(1.1);
    background     : url(../images/collapse_d.svg) no-repeat;
    background-size: contain;
    opacity        : .1;
    right          : 1em;
}

.expand.down:hover {
    opacity  : .2;
    transform: scale(.9);
}

.expand:hover {
    transform: scale(1.1);
    opacity  : 0.15;
}

.expand::after {
    content       : attr(data-title);
    position      : absolute;
    top           : .1em;
    font-size     : small;
    right         : 0%;
    pointer-events: none;
    transition    : 1s;
    opacity       : 0;
    color         : green;
    font-family   : Arial, Helvetica, sans-serif;
}

.expand:hover::after {
    opacity: 1;
    right  : 150%;
}



.ace_tooltip {
    font-family: monospace, Arial;
    color      : #444;
    opacity    : 0.95;
    border     : none;
}

.ace_tooltip>b {
    color      : black;
    font-family: Arial;
}






/* RESIZE FEATURE */

.h_line,
.v_line {
    position: fixed;
    color   : transparent;
    border  : none;
}

.h_line {
    left    : 0;
    top     : 44.7vh;
    top     : 44vh;
    width   : 50%;
    /* width: 100%; */

    cursor                     : s-resize;
    /* cursor                  : row-resize;
            cursor             : n-resize; */
    height                     : .5em;
    /* background-color        : hotpink; */
}

.v_line {
    top                : 0;
    cursor             : e-resize;
    height             : 45.5vh;
    width              : 0.5em;
    /* background-color: green; */
}

.center_line {
    position           : fixed;
    /* cursor          : nwse-resize; */
    cursor             : all-scroll;
    width              : 1em;
    height             : 1em;
    top                : 44.7vh;
    z-index            : 1;
    /* background-color: red; */
}






/* ADAPTIVE: */


@media screen and (max-width: 600px) {

    .editor,
    .view {
        width        : 100%;
        margin-bottom: 1em;
    }

    .play {
        position     : fixed;
        border-radius: unset;
        opacity      : .5;
        right        : 1em;
        z-index      : 5;
    }

    .md_container {
        height: fit-content;
    }

    #jseditor {
        padding-bottom: 40vh;
    }

    .view {
        position: fixed;
        bottom  : 0;
        top     : 60vh;
        z-index : 5;
    }

    .ace_autocomplete {
        width: 200px !important;
    }
}